mat-form-field {
  width: 100%;
}
mat-card {
  padding: 25px;
}
mat-card-title,
mat-card-content {
  text-align: center;
}
.login-wrapper {
  height: auto !important;
  width: auto !important;
  padding-top: 60px;
}
h3 {
  margin-top: 25px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.logo > img {
  max-width: 80%;
}
.forgot-password {
  text-align: left;
}
.forgot-password > a {
  color: var(--orange-color);
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
}
